<%- include('./components/head', {title : 'ูุงุชูุฑุฉ ุจูุน'}) %>


    <div class="invoice">
        <div class="container">
            <!-- <div class="water-mark">
                <img src="/images/water.png" class="mark-img">
            </div> -->
            <div class="row inv_head">
                <div class="col">
                    <img src="/images/logo.png" alt="logo">
                </div>
                <div class="col" style="opacity: 0;">
                    <h3>ุจููุง ุฑููู</h3>
                    <p>
                        ุงูุฏูุฑ ุงูุซุงูุซ ููู ูุฑูุชุดุฑ ุชุงูู ุงูุง ุงููุงุฏู ุงูุงููู / ุงููุงูุฑุฉ
                    </p>
                    <p>
                        ุฑูู ุงููุงุชูุฑุฉ : <span class="inv_no"><%= inv.id %> </span>
                    </p>
                </div>
            </div>
            <div class="inv_body">
                <div class="row">
                    <div class="cell cell_name">
                        ุฑูู ุงููุงุชูุฑุฉ :
                    </div>
                    <div class="cell cell_body">
                        <%= inv.id || 0 %>
                    </div>
                </div>
                <div class="row">
                    <div class="cell cell_name">
                        ุงุณูููููููู ุงููุจูุงุฆููููููุน :
                    </div>
                    <div class="cell cell_body">
                        <%= inv.dealer %>
                    </div>
                </div>
                <div class="row">
                    <div class="cell cell_name">
                        ุงุณูููููููู ุงูุนูููููููู :
                    </div>
                    <div class="cell cell_body">
                        <%= inv.name %>
                    </div>
                </div>
                <div class="row">
                    <div class="cell cell_name">
                        ูุงุชููููููู ุงูุนูููููููู :
                    </div>
                    <div class="cell cell_body">
                        <%= inv.phone %>
                    </div>
                </div>
                <div class="row">
                    <div class="cell cell_name">
                        ุนููููููุงู ุงูููุนููููููู :
                    </div>
                    <div class="cell cell_body">
                        <%= inv.location %>
                    </div>
                </div>
                <div class="row">
                    <div class="cell cell_name">

                        ุชุงุฑูุฎ ุนููููุฉ ุงูุจููููุน :

                    </div>
                    <div class="cell cell_body">
                        <%= inv.date.toLocaleDateString('ar-EG-u-nu-latn',{ weekday: 'long',year: 'numeric',month: 'short',day: 'numeric', }) %>
                    </div>
                </div>

                <div class="row">
                    <div class="cell cell_name">

                        ุชููุงุฑูููุฎ ุงูุงุณููุชูููุงู :

                    </div>
                    <div class="cell cell_body">
                        <%= inv.receive %>
                    </div>
                </div>


                <div class="row">
                    <div class="cell cell_name">

                        ุชูุนููููููุงุช ุงุถูููุงููุฉ :

                    </div>
                   <pre class="cell cell_body mb-5"><div><%= inv.comment%></div></pre>
                </div>
                <div class="row">
                    <div class=" ๐ col-5 col-sm-5 col-md-5 col-lg-5">ุงูููุชุฌ</div>
                    <div class=" ๐ col-1 col-sm-1 col-md-1 col-lg-1 text-center">ุงูุถูุงู</div>
                    <div class=" ๐ col-2 col-sm-2 col-md-2 col-lg-2 text-center">ุงูุณุนุฑ</div>
                    <div class=" ๐ col-2 col-sm-2 col-md-2 col-lg-2 text-center">ุงูุฎุตู</div>
                    <div class=" ๐ col-2 col-sm-2 col-md-2 col-lg-2 text-center">ุงูุงุฌูุงูู</div>
                </div>
                <% inv.products.forEach(product => { %>
                    <%- include('./components/product' , {product}) %>
                        <% }) %>
                            <div class="row  p-0">
                                <div class=" ๐ green bg-e p-3 col-3 col-sm-3 col-md-3 col-lg-3">ุงููุจูุบ ุงููุฏููุน</div>
                                <div class=" ๐ green  p-3 col-3 col-sm-3 col-md-3 col-lg-3 text-center">
                                    <%= inv.paid %>
                                        ุฌููุฉ
                                </div>
                                <div class=" ๐ yellow bg-e p-3 col-3 col-sm-3 col-md-3 col-lg-3 text-center">
                                    ุงููุจูุบ ุงููุชุจูู
                                </div>
                                <div class=" ๐ yellow  p-3 col-3 col-sm-3 col-md-3 col-lg-3 text-center">
                                    <%= inv.change %>
                                </div>
                            </div>
                            <div class="row last-row p-0">
                                <div class=" ๐  p-3 col-4 col-sm-4 col-md-4 col-lg-4">ุงูุงุฌูููููููุงูููู</div>
                                <div class=" ๐  p-3 col-2 col-sm-2 col-md-2 col-lg-2 text-center">
                                    <%= inv.real_price %>
                                        ุฌููุฉ
                                </div>
                                <div class=" ๐  p-3 col-2 col-sm-2 col-md-2 col-lg-2 text-center">
                                    <%= inv.total_discount %>
                                        ุฌููุฉ
                                </div>
                                <div class=" ๐  p-3 col-2 col-sm-2 col-md-2 col-lg-2 text-center">
                                    <%= inv.total_percentage %>
                                        %
                                </div>
                                <div class=" ๐  p-3 col-2 col-sm-2 col-md-2 col-lg-2 text-center total_paid">
                                    <%= inv.total_price %>
                                        ุฌููุฉ
                                </div>
                            </div>
                            <div class="row justify-content-end mt-4">
                                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                                    <h5>
                                        ุชูููุน ุงููุดุชุฑู / ............................
                                    </h5>
                                </div>
                            </div>

                            <br></br>


                            <div class="text-center">
                                <p> ุงูุถูุงู ุจุงูุณููุงุช</p>
                                <p>ุงูุจุถุงุนุฉ ุงููุจุงุนุฉ ูุง ุชุฑุฏ ููุง ุชุณุชุจุฏู</p>
                                <p> ุงูุดุญู ูุงูุชุทููุน ูุงูุชุฑููุจ ุนูู ุญุณุงุจ ุงููุดุชุฑู</p>
                            </div>




            </div>
        </div>

    </div>

    <%- include('./components/print')  %>
    <%- include('./components/footer') %>