<%- include('../components/head' , {title : 'الفواتير'}) %>
<%- include('../components/right-sidebar') %>
<%- include('../components/left-sidebar') %>

    <style>
        @media (max-width: 767px) {
            .dsn {
                display: none;
            }
        }
    </style>
    <div class="m100">
        <div class="main-header">
            <h3 class="text-center">
                الفواتير
            </h3>
        </div>

        <div class="container lw9">
            <div class="invoices_view">
                <div class="row table-row" dir="rtl">
                    <div class="py-3 col-5 col-sm-5 col-md-3 col-lg-3">اسم</div>
                    <div class="py-3 col-5 col-sm-5 col-md-2 col-lg-2"> رقم العميل</div>
                    <div class="py-3 col-3 col-sm-3 col-md-3 col-lg-3 dsn">تاريخ البيع</div>
                    <div class="py-3 col-3 col-sm-3 col-md-2 col-lg-2 dsn"> رقم الفاتورة</div>
                    <div class="py-3 col-12 col-sm-12 col-md-2 col-lg-2">الاعدادت</div>
                </div>
                <% invoices.forEach(inv => { %>
                    <div class="row table-row py-2" dir="rtl">
                        <div class='col-5 col-sm-5 col-lg-3 col-md-3'>
                            <%= inv.name %>
                        </div>
                        <div class='col-4 col-sm-4 col-lg-2 col-md-2' class="dsn">
                            <%= inv.phone %>
                        </div>
                        <div class='col-3 col-sm-3 col-lg-3 col-md-3 dsn'>
                            <%= inv.date_added.toLocaleDateString('ar-EG') %>
                        </div>
                        <div class='col-2 col-sm-2 col-lg-2 col-md-2 dsn'>
                            <%= inv.invId %>
                        </div>
                        <div class="col-6 col-sm-6 col-md-1 col-lg-1  d-grid">
                            <a href="/invoices/<%= inv._id %>" class=" d-ib btn btn-primary text-white text-center">عرض</a>
                        </div>
                        <% if (user.isAdmin) { %>
                            <div class="col-6 col-sm-6 col-md-1 text-center d-grid">
                                <a href="/invoices/edit/<%= inv._id %>" class=" d-ib btn btn-warning text-white  ">تعديل</a>
                            </div>
                            <% } %>
                    </div>
                    <% }) %>
            </div>
        </div>
    </div>
    <%- include('../components/footer') %>