<%- include('../components/head' , {title : 'العملاء'}) %>
<div class="m100">
<div class="main-header">
    <h3 class="text-center">
        الباقي علي العملاء
    </h3>
</div>
<div id="p-view" dir="rtl">
    <div class="container-lg">
        <div class="row table-row">
            <div class="cell  col-1 col-sm-1 col-md-2 col-lg-2">
                الأسم
            </div>
            <div class="cell  col-6 col-sm-6 col-md-2 col-lg-2">
                الرقم
            </div>
            <div class="cell col-2 col-sm-2 col-md-2 col-lg-2">
                المدفوع
            </div>
            <div class="cell col-1 col-sm-1 col-md-1 col-lg-1">
                المتبقي
            </div>
            <div class="cell col-2 col-sm-2 col-md-2 col-lg-2">
                التاريخ
            </div>
            <div class="cell col-3 col-sm-3 col-md-3 col-lg-3">
              التفاصيل
            </div>
           
            

        </div>

        <% change.forEach(c => { %>
            <% if (c.last_change == 0) { %>
            <div class="row table-row">
                <div class="cell  col-1 col-sm-1 col-md-2 col-lg-2">
                    <%= c.name %>
                </div>
                <div class="cell  col-2 col-sm-2 col-md-2 col-lg-2">
                    <%= c.phone %>
                </div>
                <div class="cell col-2 col-sm-2 col-md-2 col-lg-2">
                    <%= c.last_paid %>
                </div>
                <div class="cell col-1 col-sm-1 col-md-1 col-lg-1">
                      
                        <%= c.last_change %>
                        
                    </div>
                    <div class="cell col-2 col-sm-2 col-md-2 col-lg-2">
                        <%= c.date_added.toLocaleDateString('ar-EG-u-nu-latn') %>
                    </div>
                  <div class="cell col-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="/clients/details/<%= c._id %>" class="btn btn-secondary px-2 mx-2">التفاصيل</a>
                    <a href="/clients/edit/<%= c._id %>" class="btn btn-warning px- mx-2">تعديل</a>
                    </div>
                    
                </div>
                <% } %>
                <% }) %>


    </div>
</div>
</div>

<%- include('../components/footer') %>






