<%- include('../components/head' , {title : 'العملاء'}) %>
<div class="m100">
  <div class="main-header">
    <h3 class="">العملاء السابقين</h3>
  </div>
  <center>
    <img src="/images/logo.png" class="header-img my-2" alt="og logo " />
  </center>
  <div class="container">
    <div class="row client-row" dir="rtl">
      <% let phone = [] %> <% clients.forEach((c , i) => { %> <% if
      (filtered.includes(c.name) && !phone.includes(c.phone)) { %> <%
      phone.push(c.phone) %>
      <div class="client-card ">
        <div class="c_img">
          <img src="/images/team.svg" class="img-fluid" alt="user img" />
        </div>
        <div class="c_body">
          <p>
            <span style="font-weight: 600"> اسم العميل </span>
            <br />
            <%= c.name %>
          </p>
          <p>
            <span style="font-weight: 600"> رقم العميل </span>
            <br />
            <%= c.phone %>
          </p>
          <p>
            <span style="font-weight: 600"> عنوان العميل </span>
            <br />
            <%= c.location %>
          </p>
        </div>
      </div>
      <% } %> <% }) %>
    </div>
  </div>
</div>
<%- include('../components/footer') %>
