<%- include('../components/head' , {title : 'الخزنة'}) %>
<%- include('../components/right-sidebar') %>
<%- include('../components/left-sidebar') %>
<div class="m100">
    <div class="main-header">
        <h3 class="text-center">
          تحليل بيانات
        </h3>
    </div>
    <div class="container-lg" id="attend-table" dir="rtl">
        <%- include('./date') %>

            <div id="e-bill" dir="rtl">
                <div class="container-lg">
                    <div class="row jc2">
                        <div class="col-md-6 col-lg-6 col-sm-10 col-10">
   
                            <%- include('./client') %>
                            <%- include('./dealer') %>
                            <%- include('./change') %>
                            <%- include('./expenses') %>

                           

                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-10 col-10">
                            <%- include('./income') %>
                            <%- include('./incomes') %>
                            <%- include('./change') %>
                            <%- include('./paid') %>
             
                     
                                

                        </div>
                        <!-- <div class="col-md-6 col-lg-6 col-sm-10 col-10">
                            <%- include('./invoices') %>
                          
                           

                        </div> -->

                    </div>
                </div>
            </div>

</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        
        $('.counter').each(function () {
            $(this).prop('Counter',0).animate({
                Counter: $(this).text()
             }, {
        duration: 2000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
         }
     });
    });
    
    });
</script>


            <%- include('../components/footer') %>