<%- include('../components/head' , {title : 'الخزنة'}) %>
<%- include('../components/right-sidebar') %>
<%- include('../components/left-sidebar') %>
<div class="m100">
    <div class="main-header">
        <h3 class="text-center">
            g
        </h3>
    </div>
    <div class="container-lg" id="attend-table" dir="rtl">
        <%- include('./date') %>

            <div id="e-bill" dir="rtl">
                <div class="container-lg">
                    <div class="row jc2">
                        <div class="col-md-6 col-lg-6 col-sm-10 col-10">
                            <div class="bill-card attendance-row">
                               
                                <div class="projects">
                                    <h3>قيمةالعقود الكلية</h3>
                                    <% var total_price = 0 %> 
                                    <% invoices.forEach(element => { %>
                                     <% total_price = element.total_price + total_price %> 
                                     <% }) %>
                                     <div class="counter-box "> <i class="fa fa-shopping-cart"></i> <h2 class="counter"><%= total_price %> </h2>

                      </div> 
                      </div>


                            </div>
                            <%- include('./workers') %>
                                <%- include('./loans') %>

                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-10 col-10">
                            <%- include('./invoices') %>

                                <%- include('./expenses') %>
                                    <%- include('./addition') %>

                        </div>

                    </div>
                </div>
            </div>

            
</div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        
        $('.counter').each(function () {
            $(this).prop('Counter',0).animate({
                Counter: $(this).text()
             }, {
        duration: 2000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
         }
     });
    });
    
    });
</script>



            <%- include('../components/footer') %>