<div class="bill-card attendance-row">
                               
    <div class="projects">
        <h3>أعلي قيمة فاتورة</h3>
     
         <div class="counter-box "> <i class="fa fa-shopping-cart"></i> <h2 class="counter"><%= analysis.invoice_of_period_num %> </h2>

</div> 
</div>


</div>
<div class="bill-card">
    <div class="text-center projects ">
        <h3>

           المستحقات والمدفوع منها
        </h3>
    </div>

    <div class="row my-2 bill-row analysis">
        <div class="col-md-6 col-lg-6 col-sm-6 col-6  text-center">
            <h4>

                إجمالي مستحقات العقود
            </h4>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-6  text-center" >
            <h4>

                إجمالي المدفوع من المستحقات
            </h4>
        </div>
    </div>

    <div class="row justify-content-between p-2">
        <div class="profile-card salary-row col-md-6 col-6 col-lg-6 col-sm-6 card">
            <div class="row my-2 ">
                <div class="text-center">
                  
                    
                    <h1 class="counter" >
                        <center>

                            <%= analysis.price_of_period_sb.sum %>
                        </center>
                    </h1>
                </div>
            </div>
        </div>
        <div class="profile-card salary-row col-md-6 col-6 col-lg-6 col-sm-6 ">
            <div class="row my-2 ">
                <div class="text-center">
               
                    <h1 class="counter">
                        <%= analysis.paid_of_period_sb.sum%>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="bill-card row  ">
    <div class="text-center projects ">
        <h3>

           المستحقات والمدفوع منها
        </h3>
    </div>
    <div class="analysis-card">

   
    <div class=" col-md-6 col-6 col-lg-6 col-sm-6  my-2 bill-row ">
        <h4>
            <center>
            إجمالي مستحقات العقود
        </center>
    </h4>
    <div class="card  salary-row col-md-6 col-6 col-lg-6 col-sm-6 ">
        <div class="row my-2 ">
            <div class="text-center">
                
                <h1 class="counter">
                    <%= analysis.paid_of_period_sb.sum%>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class=" col-md-6 col-6 col-lg-6 col-sm-6  my-2 bill-row">
    <h4>
        <center>
            إجمالي المدفوع من المستحقات
    </center>
</h4>
<div class="card  salary-row col-md-6 col-6 col-lg-6 col-sm-6 ">
    <div class="row my-2 ">
        <div class="text-center">
            
            <h1 class="counter">
                <%= analysis.paid_of_period_sb.sum%>
            </h1>
        </div>
    </div>
</div>
</div>
</div>
</div>