<div class="bill-card">
    <header class="text-center">
        <img src="/images/bill.svg" class="bill-img" alt="الفاتورة" title="الفاتورة">
    </header>
    <h5 class="text-center">
        الفواتير
    </h5>




    <div class="row jc2">
        <div class="col-md-6 col-lg-6 col-sm-6 col-6 py-2 mb-3 bg-e">
            المدفوع الاجمالي
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-6 bg-success text-white py-2 mb-3">
            <%= totals.paid %>
        </div>
    </div>
    <div class="row jc2">
        <div class="col-md-6 col-lg-6 col-sm-6 col-6 py-2 mb-3 bg-e">
            القيمة الاجمالية
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-6 bg-success text-white py-2 mb-3">
            <%= totals.price %>
        </div>
    </div>
    <div class="row jc2">
        <div class="col-md-6 col-lg-6 col-sm-6 col-6 py-2 mb-3 bg-e">
            المتبقي الاجمالي
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-6 bg-danger text-white py-2 mb-3">
            <%= totals.change %>
        </div>
    </div>



    <div class="row my-2 bill-row">
        <div class="col-md-4 col-lg-4 col-sm-4 col-4">

        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-4">

        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-4">
        </div>
    </div>

    <div class="row my-2 bill-row">
        <div class="col-md-4 col-lg-4 col-sm-4 col-4">
            اجمالي الفاتورة
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-4">
            المدفوع
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-4">
            المتبقي
        </div>
    </div>
    <div class="info_card px-3 scroll-hide">

        <% invoices.forEach(({total_price : price , paid , _id , change}) => { %>
            <a href="/invoices/<%= _id %>" class="row my-2 bill-row">
                <div class="col-md-4 col-lg-4 col-sm-4 col-4">
                    <%= price %>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-4">
                    <%= paid %>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-4">
                    <%= change %>
                </div>
            </a>
            <% }) %>

    </div>
</div>