<%- include('../components/head' , {title : 'تسجيل حضور '}) %>
<%- include('../components/right-sidebar') %>
<%- include('../components/left-sidebar') %>
<div class="m100">
    

<div class="main-header">
        <h3 class="text-center">
            <%= at %> حضور يوم
        </h3>
    </div>
    <div id="attend-view">
        <div class="container" dir="rtl">
            <div class="row justify-content-between">
                <div class="col-2 d-grid">
                    <a href="/attendance/all" class="btn btn-primary my-2">العودة</a>
                </div>
                <div class="col-2 d-grid">
                    <a href="/attendance/edit/<%= at %>" class="btn btn-warning my-2">الى صفحة التعديلات</a>
                </div>
            </div>
            <div class="attend-view-list">
                <% if (data) { %>
                    <% data.forEach(d => { %>
                        <div class="row table-row my-1">
                            <div class="py-1 col-11 col-sm-11 col-md-11 col-lg-11">
                                <%= d.name %>
                            </div>
                            <% if (d.attend) { %>
                                <div class="py-1 col-1 col-sm-1 col-md-1 col-lg-1 bg-success text-white">حاضر</div>
                                <% } else { %>
                                    <div class="py-1 col-1 col-sm-1 col-md-1 col-lg-1 bg-danger text-white"> غائب </div>
                                    <% } %>

                        </div>
                        <% }) %>
                            <% } %>
            </div>

        </div>
    </div>
    </div>
</div>

    <%- include('../components/footer') %>