<%- include('../components/head' , {title : 'ุญุณุงุจุงุช ุงูุดูุฑ'}) %>
<%- include('../components/right-sidebar') %>
<%- include('../components/left-sidebar') %>
    <div class="main-header">
        <h3 class="text-center">
            ุญุณุงุจุงุช ุงูุดููุฑ ู
            <%= dealer.name %>
        </h3>
    </div>
    <div id="d-calcs" dir="rtl">
        <div class="container-lg">
            <div class="row justify-content-center">
                <a href="/workers/d/calcs/<%= dealer._id %>/create" class="home-link">
                    <img src="/images/add.svg">
                    <p> ุงุถุงูุฉ ูุงุชูุฑุฉ ุฌุฏูุฏุฉ</p>
                </a>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-10 col-10 col-sm-10 hr"></div>
            </div>
            <% if (bills && bills.length >0) { %>
                <div class="row table-row">
                    <div class="col-md-2 col-lg-2 col-2 col-sm-2 cell ๐น ">
                        ุงูุงุฌูุงูู
                    </div>
                    <div class="col-md-3 col-lg-3 col-3 col-sm-3 cell">
                        ุชุงุฑูุฎ
                    </div>
                    <div class="col-md-2 col-lg-2 col-2 col-sm-2 cell">
                        ููุช
                    </div>
                    <div class="col-md-2 col-lg-2 col-2 col-sm-2 cell">
                        ุดูุฑ ุงูุฑุงุชุจ
                    </div>
                    <div class="col-md-3 col-lg-3 col-3 col-sm-3">
                        ุงูุงุนุฏุงุฏุงุช
                    </div>
                </div>
                <% bills.forEach(bill => { %>
                    <div class="row table-row">
                        <div class="col-md-2 col-lg-2 col-2 col-sm-2 cell">
                            <%= bill.total %>
                        </div>
                        <div class="col-md-3 col-lg-3 col-3 col-sm-3 cell">
                            <%= bill.dateAdded %>
                        </div>
                        <div class="col-md-2 col-lg-2 col-2 col-sm-2 cell">
                            <%= bill.timeReg %>
                        </div>
                        <div class="col-md-2 col-lg-2 col-2 col-sm-2 cell">
                            <%= bill.monthReg %>
                        </div>
                        <div class="col-md-3 col-lg-3 col-3 col-sm-3">
                            <a href="/workers/d/calcs/<%= dealer._id %>/edit/<%= bill._id %>" class="btn btn-primary text-white mtb">ุชุนุฏูู</a>
                            <a href="/workers/d/calcs/<%= dealer._id %>/view/<%= bill._id %>" class="btn btn-success text-white mtb">ุนุฑุถ</a>
                        </div>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <div class="row justify-content-center">
                                <div class="col-md-7">
                                    <div class="alert alert-danger text-center my-5 text-bold">
                                        ูุงุชูุฌุฏ ููุงุชูุฑ ุญุงููุฉ ููุฐุง ุงูุจุงุฆุน
                                    </div>
                                </div>
                            </div>
                            <% } %>
        </div>
    </div>


    <script>
    </script>
    <%- include('../components/footer') %>