<%- include('../components/head' , {title : 'حسابات الشهر'}) %>
<%- include('../components/right-sidebar') %>
<%- include('../components/left-sidebar') %>
    <div class="main-header">
        <h3 class="text-center">
            حسابات شهور
        </h3>
    </div>
    <div id="e-bill" dir="rtl">
        <div class="container-lg">
            <div class="row justify-content-center my-3" dir="rtl">
                <div class="col-12 col-sm-12 col-md-10 col-lg-10 px-0">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <div class="accordion-header profile-card" id="headingOne" style="margin-bottom: 0;border-radius: 0;padding: 0;">
                                <div type="button" data-bs-toggle="collapse" style="padding: 15px ;" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h3 class="text-center" style="font-weight: 300;">
                                        اختر الشهر المراد تسجيل المرتب فيه 
                                    </h3>
                                </div>
                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body bg-light">
                
                                    <div id='today-attendance-form'>
                                        <div class="row justify-content-betwen">
                                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-8">
                                                <p>
                                                    اختر الشهر
                                                </p>
                                                <select class="form-select" name="month" id="month-salary-select" aria-label="Default select example">
                                                        <option value="0">يناير</option>
                                                        <option value="1">فبراير</option>
                                                        <option value="2">مارس</option>
                                                        <option value="3">ابريل</option>
                                                        <option value="4">مايو</option>
                                                        <option value="5">يونيو</option>
                                                        <option value="6">يوليو</option>
                                                        <option value="7">اغسطس</option>
                                                        <option value="8">سبتمبر</option>
                                                        <option value="9">أكتوبر</option>
                                                        <option value="10">نوفمبر</option>
                                                        <option value="11">ديسمبر</option>
                                                    </select>
                                            </div>
                                            <div class=" col-4 col-sm-4 col-md-4 col-lg-4 col-8 ">
                                                <p>
                                                    اختر العام
                                                </p>
                                                <select class="form-select" name="year" id="year-salary-select" aria-label="Default select example">
                                                        <option value="2021">2021</option>
                                                        <option value="2022">2022</option>
                                                        <option value="2023">2023</option>
                                                    </select>
                                            </div>
                                        </div>
                
                                    </div>
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-lg">
            <div class="row justify-content-center">

                <div class="col-md-10 col-lg-10 col-10 col-sm-10 profile-card">
                    <div class="profile-form ">
                        <form action="">
                            <input type="hidden" name="id" id="e-id" value="<%= emp._id %>">
                            <input type="hidden" name="e-n_id" id="e-n_id" value="<%= emp.n_id %>">
                            <input type="hidden" name="e-name" id="e-name" value="<%= emp.name %>">
                            <div id="form-value-rows">
                                <div class="row p-form-row p-form-title">
                                    <div class="col-md-2 col-2 col-sm-2 col-lg-2 p-form-col">
                                        اضافة
                                    </div>
                                    <div class="col-md-7 col-7 col-sm-7 col-lg-7 p-form-col">
                                        السبب
                                    </div>
                                    <div class="col-md-3 col-3 col-sm-3 col-lg-3 p-form-col">
                                        القيمة
                                    </div>
                                </div>
                                <div class="row p-form-row ">
                                    <div class="col-md-2 col-2 col-sm-2 col-lg-2 p-form-col bg-more calc_row">
                                        اضافة
                                    </div>
                                    <div class="col-md-7 col-7 col-sm-7 col-lg-7 p-form-col">

                                        <input type="text" class="form-control _more_name" id="p_salary" disabled value="المرتب">
                                    </div>
                                    <div class="col-md-3 col-3 col-sm-3 col-lg-3 p-form-col">
                                        <input type="text" class="form-control _more" id="p_salary" disabled value="<%= emp.salary %>">
                                    </div>
                                </div>
                                <div class="row p-form-row ">
                                    <div class="col-md-2 col-2 col-sm-2 col-lg-2 p-form-col bg-more calc_row">
                                        اضافة
                                    </div>
                                    <div class="col-md-7 col-8 col-sm-7 col-lg-7 p-form-col">
                                        <input type="text" class="form-control _more_name" id="p_salary" disabled value="حوافز">
                                    </div>
                                    <div class="col-md-3 col-3 col-sm-3 col-lg-3 p-form-col">
                                        <input type="text" class="form-control _more" placeholder="500" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-between mt-5">
                                <div id="calc-value" class="col-md-3 col-3 col-sm-3 col-lg-3 btn btn-primary text-white">
                                    حساب المرتب
                                </div>
                                <div id="add-value" class="col-md-3 col-3 col-sm-3 col-lg-3 btn btn-success text-white">
                                    اضافة قيمة
                                </div>
                                <div id="sub-value" class="col-md-3 col-3 col-sm-3 col-lg-3 btn btn-danger text-white">
                                    خصم قيمة
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <script>
         document.getElementById("month-salary-select").value = new Date().getMonth()
        document.getElementById("year-salary-select").value = new Date().getFullYear()
        document.getElementById('add-value').addEventListener("click", () => {
            const more_template = `<div class="row p-form-row ">
                                        <div class="col-md-2 col-2 col-sm-2 col-lg-2 p-form-col bg-more calc_row">
                                            اضافة
                                        </div>
                                        <div class="col-md-7 col-7 col-sm-7 col-lg-7 p-form-col">
                                            <input type="text" class="form-control _more_name"  placeholder="سبب الاضافة">
                                        </div>
                                        <div class="col-md-3 col-3 col-sm-3 col-lg-3 p-form-col">
                                            <input type="text" class="form-control  _more" placeholder="500">
                                        </div>
                                    </div>
            `
            document.getElementById('form-value-rows').insertAdjacentHTML('beforeend', more_template)
        })
        document.getElementById('sub-value').addEventListener("click", () => {
            const sub_template = ` <div class="row p-form-row ">
                                            <div class="col-md-2 col-2 col-sm-2 col-lg-2 p-form-col bg-less calc_row">
                                                خصم
                                            </div>
                                            <div class="col-md-7 col-7 col-sm-7 col-lg-7 p-form-col">
                                                <input type="text" class="form-control _sub_name"  placeholder="سبب الخصم">
                                            </div>
                                            <div class="col-md-3 col-3 col-sm-3 col-lg-3 p-form-col">
                                                <input type="text" class="form-control _sub" placeholder="500">
                                            </div>
                                        </div>
                `
            document.getElementById('form-value-rows').insertAdjacentHTML('beforeend', sub_template)
        })
        document.getElementById('calc-value').addEventListener("click", () => {
            const add_names = data_collector(document.querySelectorAll("._more_name")),
                add_val = data_collector(document.querySelectorAll("._more")),
                sub_names = data_collector(document.querySelectorAll("._sub_name")),
                sub_val = data_collector(document.querySelectorAll("._sub"))
            let add = []
            let sub = []
            add_names.forEach((e, i) => add.push({
                name: add_names[i],
                value: add_val[i]
            }))
            sub_names.forEach((e, i) => sub.push({
                name: sub_names[i],
                value: sub_val[i]
            }))

            let _add = add_val.reduce((a, b) => parseInt(a) + parseInt(b), 0)
            let _sub = sub_val.reduce((a, b) => parseInt(a) + parseInt(b), 0)
            let total = _add - _sub
            console.log();
            axios.post('/workers/e/calcs', {
                    id: document.getElementById('e-id').value,
                    n_id: document.getElementById('e-n_id').value,
                    name: document.getElementById('e-name').value,
                    add,
                    sub,
                    _add,
                    _sub,
                    total,
                    month : document.getElementById('month-salary-select').value,
                    year : document.getElementById('year-salary-select').value
                })
                .then(res => {
                    if (res.status === 201) location.pathname = res.data
                })
                .catch(err => {
                    console.error(err);
                })
        })

        const data_collector = (target) => {
            if (target) {
                let data = []
                target.forEach(t => data.push(t.value))
                return data
            }
        }
    </script>
    <%- include('../components/footer') %>